db.sqlite3

### Development & IDE ###
venv/
.idea/
.vscode/
DevData/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
production_settings.py
development_settings.py
local_settings.py
.env
**/migrations
!**/migrations/__ini__.py

### Python ###
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
