#idMainContainer {
  margin-bottom: 1em;
}

.navbar-logo {
  max-height: 38px;
  color: #fff;
  padding-right: 5px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.hidden {
  display: None;
}

.bg-vll {
  background-color: #0050A0 !important;
}

.form-stacked {
  flex-direction: column;
}

.form-stacked > label, select, input {
  display: block;
}

.form-row {
  padding-bottom: 1em;
}

.form-row:last-of-type {
  padding-bottom: 0;
}

.form-card {
  margin-top: 1em;
}

.form-space-top {
  margin-top: 0.5em;
}

.full-width-form-field {
  width: 90%;
}

.card-container {
  margin-bottom: 1.5em;
}

@media (min-width: 992px) {

}

.card {
  height: 100%;
}