#idMainContainer {
  margin-bottom: 1em;
}

.navbar-logo {
  max-height: 38px;
  max-width: 38.601px;
  color: #fff;
  padding-right: 5px;
}

.hidden {
  display: None;
}

.bg-vll {
  background-color: #0050A0 !important;
}

.form-stacked {
  flex-direction: column;
}

.form-stacked > label, select, input {
  display: block;
}

.form-row {
  padding-bottom: 1em;
}

.form-row:last-of-type {
  padding-bottom: 0;
}

.form-card {
  margin-top: 1em;
}

.form-space-top {
  margin-top: 0.5em;
}

.full-width-form-field {
  width: 90%;
}

.card-container {
  margin-bottom: 1.5em;
}

@media (min-width: 992px) {

}

.card {
  height: 100%;
}

.dropdown-submenu {
  background: #cce5ff;
  border-radius: 4px;
  position: relative;
  color: #000!important;
}

.dropdown:hover>.dropdown-menu {
  display:block;
}
.dropdown > .dropdown-toggle:active {
  pointer-evente: none;
}

.dropdown-submenu>.dropdown-menu {
    top:0;
    right:100%;
    margin-top:-6px;
}