{% extends 'base.html' %}

{% block title %}Persondosimetri{% endblock title %}

{% load static %}

{% block extra-styles %}
    <link href="{% static 'skeleton_protocols/sp.css' %}" rel="stylesheet">
    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock extra-styles %}

{% block extra-scripts %}
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'skeleton_protocols/sp.js' %}"></script>
{% endblock extra-scripts %}

<!-- Widget-tweaks for form layout -->
{% load widget_tweaks %}

{% block main %}
<h1>Skelettprotokoll</h1>
<p>Skelettprotokoll på maskiner i VLL</p>


<!-- Filter -->
<div class="row">
    <div class="container card-container">
        <div class="card text-black bg-light mb-3 form-card">
            <div class="card-header">Filter</div>

                <form>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                {% render_field filter.form.ris_name class="form-control" placeholder="Sök protokoll..."%}
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-10">
                                {% render_field filter.form.machine class="form-control" %}
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <button type="submit" class="btn btn-primary">Sök</button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h6>Exponeringsinställningar</h6>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.kv_min class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.mas_min class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.technique class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.sensitivity class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.filter_cu class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.focus class="form-control" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.kv_max class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.mas_max class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.grid class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h6>Postprocessinginställningar</h6>
                        <div class="row">
                             <div class="col-lg-4 col-md-4 col-sm-12">
                                {% render_field filter.form.lut class="form-control" %}
                            </div>
                             <div class="col-lg-4 col-md-4 col-sm-12">
                                {% render_field filter.form.diamond_view class="form-control" %}
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.image_auto_amplification class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.edge_filter_kernel_size_min class="form-control" %}
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.edge_filter_gain_min class="form-control" %}
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.harmonization_kernel_size_min class="form-control" %}
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.harmonization_gain_min class="form-control" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.edge_filter_kernel_size_max class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.edge_filter_gain_max class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.harmonization_kernel_size_max class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.harmonization_gain_max class="form-control" %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>
<!-- End Filter -->


<!-- Results -->
<table id="idResultTable" class="stripe hover compact">
        <thead>
            <tr>
                <th>ris name</th>
                <th>machine</th>
                <th>T</th>
                <th>S</th>
                <th>kV</th>
                <th>mAs</th>
                <th>filter</th>
                <th>focus</th>
                <th>raster</th>
                <th>lut</th>
                <th>diamond view</th>
                <th>Amp</th>
                <th>Edge Filter</th>
                <th>Harmonization</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in filter.qs %}
            <tr>
                <td>{{ obj.ris_name}}</td>
                <td>{{ obj.machine }}</td>
                <td>{{ obj.technique}}</td>
                <td>{{ obj.sensitivity}}</td>
                <td>{{ obj.kv }} </td>
                <td>{{ obj.mas }}</td>
                <td>{{ obj.filter_cu}} </td>
                <td>{{ obj.focus}} </td>
                <td>{{ obj.grid}} </td>
                <td>{{ obj.lut}}</td>
                <td>{{ obj.diamond_view}} </td>
                {% if obj.image_auto_amplification %}
                    <td>auto</td>
                {% else %}
                    <td>{{ obj.image_amplification_gain}}</td>
                {% endif %}
                <td>{{ obj.edge_filter_kernel_size}} | {{ obj.edge_filter_gain}}</td>
                <td>{{ obj.harmonization_kernel_size}} | {{ obj.harmonization_gain}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>ris name</th>
                <th>machine</th>
                <th>T</th>
                <th>S</th>
                <th>kV</th>
                <th>mAs</th>
                <th>filter</th>
                <th>focus</th>
                <th>raster</th>
                <th>lut</th>
                <th>diamond view</th>
                <th>Amp</th>
                <th>Edge Filter</th>
                <th>Harmonization</th>
            </tr>
        </tfoot>
    </table>
<!-- End Results -->


{% endblock main %}