{% extends 'base.html' %}

{% block title %}Skelettprotokoll{% endblock title %}

{% load static %}

{% block extra-styles %}
    <link href="{% static 'skeleton_protocols/sp.css' %}" rel="stylesheet">
    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock extra-styles %}

{% block extra-scripts %}
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'skeleton_protocols/sp.js' %}"></script>
{% endblock extra-scripts %}

<!-- Widget-tweaks for form layout -->
{% load widget_tweaks %}

{% block main %}


<!-- Filter -->
<div class="row">
    <div class="container card-container">
        <div class="card text-black bg-light mb-3 form-card">
            <div class="card-header">Filter</div>

            <!-- javascript:void(); to prevent form to reload -->
                <form action="javascript:void(0);" id="form" method="get">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                {% render_field filter.form.ris_name class="form-control" placeholder="Sök protokoll..."%}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                {% render_field filter.form.exam__exam_name class="form-control" %}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                {% render_field filter.form.machine class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h6>Exponeringsinställningar</h6>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.kv_min class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.mas_min class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.technique class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.sensitivity class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.filter_cu class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.focus class="form-control" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.kv_max class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.mas_max class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.grid class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.fp_set class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h6>Postprocessinginställningar</h6>
                        <div class="row">
                             <div class="col-lg-4 col-md-4 col-sm-12">
                                {% render_field filter.form.lut class="form-control" %}
                            </div>
                             <div class="col-lg-4 col-md-4 col-sm-12">
                                {% render_field filter.form.diamond_view class="form-control" %}
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.image_auto_amplification class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.edge_filter_kernel_size_min class="form-control" %}
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.edge_filter_gain_min class="form-control" %}
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.harmonization_kernel_size_min class="form-control" %}
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.harmonization_gain_min class="form-control" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.edge_filter_kernel_size_max class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.edge_filter_gain_max class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.harmonization_kernel_size_max class="form-control" %}
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                {% render_field filter.form.harmonization_gain_max class="form-control" %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>
<!-- End Filter -->

<div id="idLoaderRow" class="row justify-content-center">
    <div class="loader"></div>
</div>


<!-- History -->
<div class="row hidden" id="idHistoryRow">
    <div class="container card-container">
        <div class="card text-black bg-light mb-3 form-card">
            <div class="card-header">
                Historik <button type="button" class="btn btn-outline-secondary btn-sm" onClick="closeHistory()">X</button>
            </div>
                <div class="card-body">
                    <table id="idHistoryTable" class="display compact stripe hover compact"  style="width:100%">
                            <thead>
                                <tr>
                                    <th>Protokoll</th>
                                    <th>Lab</th>
                                    <th>Datum</th>
                                    <th>S</th>
                                    <th>kV</th>
                                    <th>mAs</th>
                                    <th>Fi</th>
                                    <th>Fo</th>
                                    <th>R</th>
                                    <th>Lut</th>
                                    <th>Di</th>
                                    <th>Amp</th>
                                    <th>Edge</th>
                                    <th>Harmon</th>
                                    <th>Gml</th>
                                </tr>
                            </thead>
                        </table>
                </div>
        </div>
    </div>
</div>
 <!-- End History-->



<!-- Results -->
<div class="row">
    <div class="container">
    <table id="idResultTable" class="display compact stripe hover compact" style="width:100%">
        <thead>
            <tr>
                <th>Exam</th>
                <th>Protokoll</th>
                <th>Lab</th>
                <th>kV</th>
                <th>S</th>
                <th>mAs</th>
                <th>Fi</th>
                <th>Fo</th>
                <th>R</th>
                <th>Lut</th>
                <th>Di</th>
                <th>Amp</th>
                <th>Edge</th>
                <th>Harmon</th>
                <th>Gml</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Exam</th>
                <th>Protokoll</th>
                <th>Lab</th>
                <th>kV</th>
                <th>S</th>
                <th>mAs</th>
                <th>Fi</th>
                <th>Fo</th>
                <th>R</th>
                <th>Lut</th>
                <th>Di</th>
                <th>Amp</th>
                <th>Edge</th>
                <th>Harmon</th>
                <th>Gml</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    </div>
 </div>
<!-- End Results -->

<div class="hidden">
    <div id="idUpdateResults">{% url 'sp:sp-results-list' %}</div>
    <div id="idViewHistory">{% url 'sp:sp-history' %}</div>
</div>

{% endblock main %}