{% extends 'base.html' %}

{% block main %}
<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Välkommen till Strålskyddsportalen</h1>
    <p class="lead">Här finns samlad information som rör strålskydd inom {{ OrganisationName }}.</p>
  </header>

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Persondosimetri</h4>
          <p class="card-text">Se statistik över din persondos.</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'pd:pd-result' %}" class="btn btn-primary">Gå vidare</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Genomlysningstider</h4>
          <p class="card-text">Registrera dina genomlysningstider.</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'fluoro_times:register' %}" class="btn btn-primary">Gå vidare</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Skelettprotokoll</h4>
          <p class="card-text">Sök och jämför protokoll på skelettlab.</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'sp:sp-results' %}" class="btn btn-primary">Gå vidare</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Mammografi QA</h4>
          <p class="card-text">Registrera eller se sammanställningar över mammografi QA.</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'mg:mg-weekly-qa-result' %}" class="btn btn-primary">Gå vidare</a>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">MR QA</h4>
          <p class="card-text">Registrera eller se sammanställningar över MR QA.</p>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}